html, body {
	height: 100%;
}
.tscroll {
	height: 650px;
	max-height: 650px;
	overflow: scroll;
}
#carte {
	width:100%;
	height: 100%;
}

#carte2 {
	width: 100%;
	height: 650px;
}

div.olMapViewport {
	z-index: 0;
}

#zone_w {
	z-index: 9999;
	position: fixed;
	top: 10%;
	left:80%;
	width: 18%;
	height: 70%;
	background-color:#e7e7e7;
	border-color: #a0a0a0;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
}
.ui-autocomplete {
	z-index: 12000;
}
.w100 {
	width: 100%;
}
.olControlPanZoomBar {
	top: 70px !important;
}

.olControlLayerSwitcher {
	top: 380px !important;
	left: 10px !important;
}
